.appBody {
	p {
		font-size: 1.5rem;
		padding-left: 20px;
	}
}

.content {
	padding-left: 20px;
	
	p {
		font-size: 1.3rem;
	}
}

.gifCont {
	display: flex;
	flex-wrap:  wrap;
	justify-content: center;
	width: 100%;

	.gifHeadCont {
		width: 100%;
		text-align: center;
		margin-bottom: 0px;

		.gifHead {
			width: 100%;
			font-size: 5rem;
			margin-bottom: 0px;
		}
	
		.listGifsCont {
			width: 300px;
			margin: 0 auto;

			ul {
				list-style: none;
				margin: 0px;
				padding: 0px;

				.listGifs {
					padding: 5px;
					font-weight: bold;
				}
			}
		}
	}

	.subCont {
		width: 47%;
		min-width: 800px;
		
		.bottomCont {
			display: flex;
			flex-wrap:  wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			.gifs {
				width: 85%;
				height: 650px;
				max-width: 800px;
			}

			.left{
				display: flex;
				align-items: center;
				width: 7%;
				height: 50px;

				&:hover {
					cursor: pointer;
				}
			}
			.right {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 7%;
				height: 50px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	.topCont {
		text-align: center;

		h2 {
			width: 650px;
			border-top: 3px solid black;
			border-radius: 5px;
			margin: 0 auto;
			margin-top: 15px;
			padding-top: 10px;
		}
	}
}


.hidden {
	display: none;
}

.selected {
	background-color: rgba(41, 110, 133, 1);
	color: white;
	border-radius: 5px;
}

.fa-chevron-right, .fa-chevron-left {
	font-size: 3rem;

	&:hover {
	color: rgba(41, 110, 133, 1);
	}
}
