.footer {
	width: 100%;
	background-color: rgba(41, 110, 133, 1);
	display: flex;
	flex-wrap:  wrap;
	justify-content: center;

	.iconCont {
		width: 100%;
		display: flex;
		justify-content: center;

		.fas, .fab {
			font-size: 2rem;
			color: white;
			padding-top: 10px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	
	.copyright {
		font-size: 1.3rem;
		padding: 5px;
		color: white;
	}
}
