@import '/mixins';
@import '/reset';
@import '/projectPage';
@import '/homePage';
@import '/contact';
@import '/about';

.outerContainer {
	max-width: 800px;
	margin: 0 auto;
	
	.innerContainer {
		margin: 20px;
	}
}

.mainHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 2rem; 

	nav {
		display: flex;
		justify-content: space-between;
		width: 75%;
		max-width: 400px; 
		
		a {
			@include navButton;
		}
	}
}