
html {
	font-size: 62.5%;

	body{
		width: 100%;
		margin: 0;
		padding: 0;

		.mainHeading {
			font-family: 'Open Sans', sans-serif;
		}

		.subHeading {
			font-family: 'Big Shoulders Display', cursive;
		}

		.text {
			font-family: 'Roboto', sans-serif;
		}

		.content {
			max-width: 700px;
			margin: 15px, 0px;
		}
	}
}
